
<div id="content-board" style="margin:0 auto;" align="center">
	<canvas id="content-board-canvas" style="height:100%; width:100%;" class="img-responsive"></canvas>
	<!--img src="" id="image_to_display" class="img-responsive" alt=""/-->
</div>

<!-- Game controls and turn slider -->
<div id="content-controls" style="margin:0 auto;">
	<!-- Game controls -->
	<div style="float: left;">
		<button id="play_pause" class="btn btn-default">
			<span id="span_play" class="glyphicon glyphicon-play"></span>
			<span id="span_pause" class="glyphicon glyphicon-pause" style="display: none"></span>
		</button>
		<button id="stop" class="btn btn-default">
			<span class="glyphicon glyphicon-stop"></span>
		</button>
		<button id="backward" class="btn btn-default">
			<span class="glyphicon glyphicon glyphicon-backward"></span>
		</button>
		<button id="forward" class="btn btn-default">
			<span class="glyphicon glyphicon glyphicon-forward"></span>
		</button>
		<button id="step_backward" class="btn btn-default">
			<span class="glyphicon glyphicon-step-backward"></span>
		</button>
		<button id="step_forward" class="btn btn-default">
			<span class="glyphicon glyphicon-step-forward"></span>
		</button>
	</div>

	<!-- Turn slider -->
	<div id="content-controls-slider" style="float: right;">
		<span style="float: left;" >
			<b>Turn:</b>
			<b align="right" id="content-controls-slider-round">10000</b>
		</span>
		<input id="content-controls-slider-input" type="range" min="1" max="1" value="1" step="1" style="float: right;"/>
	</div>
</div>
