.list-group-heading {
	padding: 0cm .2cm 0cm .2cm;
}

.game-arrow {
	position: relative;
	padding: 0px;
}

.game-arrow-left {
	text-align: right;
}

.game-arrow-right {
	text-align: left;
}

.primary-game-info {
	position: relative;
	text-align: center;
	font-weight: bold;
}

.secundary-game-info {
	position: relative;
	text-align: center;
	font-weight: normal;
}

.list-group-item {
	padding: 5px 5px 5px 5px;
}

.div-with-scroll {
	overflow-y:scroll;
}

.log {
	background-color: #000;
	border: 1px solid #000;
	color: #00ff00;
	font-family: courier new;
	min-width: 100%;
	max-width: 100%;
}

.nav-tabs > li > a {
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 9px;
  padding-right: 9px;
}

.btn-input {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 7px;
  padding-right: 7px;
}

.viewer-info {
	height: 1.8em;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.viewer-small-img {
	height: 1.8em;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.viewer-big-img {
	height: 5.6em;
	width: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.palette-img {
	height: 2.5em;
	width: 2.5em;
	display: block;
	margin-left: 0;
	margin-right: 0;
	vertical-align: middle;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
