
<div id="menu-games-workingdir">
	<label for="games-dir">Working directory:</label><br>
	<input type="text" id="games-dir" size="30" disabled>
	<button class="btn btn-primary btn-sm btn-input" onclick='$("#games-dir-input").click()'>Browse...</button>
	<input type="file" id="games-dir-input" webkitdirectory directory style="display: none"/>
</div>
<br>
<div id='menu-games-list' class='list-group div-with-scroll' style='width: 98%; border-style: inset;'>
</div>
<button class="btn btn-primary btn-sm btn-input" onclick='$("#games-file-input").click()'>Select game from file system...</button>
<input type="file" id="games-file-input" directory style="display: none"/>
