
<div id="menu-mapeditor-workingdir">
	<label for="maps-dir">Working directory:</label>
	<input type="text" id="maps-dir" size="30" disabled>
	<button class="btn btn-primary btn-sm btn-input" onclick='$("#maps-dir-input").click()'>Browse...</button>
	<input type="file" id="maps-dir-input" webkitdirectory directory style="display: none"/>
</div>
<div id='menu-mapeditor-list' class='list-group div-with-scroll' style='height: 100px; width: 98%; border-style: inset;'>
</div>
<div id="menu-mapeditor-info1">
	<button class='btn btn-primary btn-sm' id='mapeditor-new'>New</button><br>
	<label for="mapeditor-board-size">Board size (1 < x < 51):</label>
	<input type="number" id="mapeditor-board-size" style="width:2.0em;"><br>
	<div>
		<label>Offset:</label>
		<label for="mapeditor-offsetx">X:</label>
		<input type="number" id="mapeditor-offsetx" style="width:5.0em;" value=0>
		<label for="mapeditor-offsety">Y:</label>
		<input type="number" id="mapeditor-offsety" style="width:5.0em;" value=0>
	</div>
	<button class='btn btn-primary btn-sm' id='symmetry-horitzonal'>Horitzonal</button>
	<button class='btn btn-primary btn-sm' id='symmetry-vertical'>Vertical</button>
	<button class='btn btn-primary btn-sm' id='symmetry-rotational'>Rotational</button>
	<div id='mapeditor-symmetry-div' style='display: none;'>
		<label for="mapeditor-symmetry">Symmetry:</label>
		<span id='mapeditor-symmetry'></span>
	</div>
	<hr style='margin: 5px;'>
</div>
<div id="menu-mapeditor-palette" style='display:none;'>
	<table>
		<col width="40">
		<col width="40">
		<col width="40">
		<tr>
			<td align="center" height="40" id="mapeditor-queen1-layer">
				<img id="mapeditor-queen1-img" class="palette-img">
			</td>
			<td align="center" height="40" id="mapeditor-queen2-layer">
				<img id="mapeditor-queen2-img" class="palette-img">
			</td>
			<td align="center" height="40" id="mapeditor-erase-layer">
				<img src="resources/erase.png" class="palette-img">
			</td>
		</tr>
		<!--tr>
			<td align="center" height="40" id="mapeditor-ant1-layer">
				<img id="mapeditor-ant1-img" class="palette-img">
			</td>
			<td align="center" height="40" id="mapeditor-ant2-layer">
				<img id="mapeditor-ant2-img" class="palette-img">
			</td>
		</tr>
		<tr>
			<td align="center" height="40" id="mapeditor-beetle1-layer">
				<img id="mapeditor-beetle1-img" class="palette-img">
			</td>
			<td align="center" height="40" id="mapeditor-beetle2-layer">
				<img id="mapeditor-beetle2-img" class="palette-img">
			</td>
		</tr>
		<tr>
			<td align="center" height="40" id="mapeditor-spider1-layer">
				<img id="mapeditor-spider1-img" class="palette-img">
			</td>
			<td align="center" height="40" id="mapeditor-spider2-layer">
				<img id="mapeditor-spider2-img" class="palette-img">
			</td>
		</tr>
		<tr>
			<td align="center" height="40" id="mapeditor-bee1-layer">
				<img id="mapeditor-bee1-img" class="palette-img">
			</td>
			<td align="center" height="40" id="mapeditor-bee2-layer">
				<img id="mapeditor-bee2-img" class="palette-img">
			</td>
		</tr-->
		<tr>
			<td align="center" height="40" id="mapeditor-wall-layer">
				<img src="resources/wall.png" class="palette-img">
			</td>
			<td align="center">
				<input type="number" id="wall-health" style="width:2.5em;">
			</td>
			<td align="center">
				<input type="number" id="wall-health-hover" style="width:2.5em;" disabled>
			</td>
		</tr>
		<tr>
			<td align="center" height="40" id="mapeditor-food-layer">
				<img src="resources/food.png" class="palette-img">
			</td>
			<td align="center">
				<input type="number" id="food-quantity" style="width:2.5em;">
			</td>
			<td align="center">
				<input type="number" id="food-quantity-hover" style="width:2.5em;" disabled>
			</td>
		</tr>
	</table>
</div>
<div id="menu-mapeditor-export" style='display:none;'>
	<label for="map-name">Name:</label>
	<input type="text" id="map-name">
	<button class='btn btn-primary btn-sm' id='mapeditor-save'>Save</button>
	<span id="mapeditor-save-status"></span>
</div>
