
<div id="menu-viewer-wincondition">
	<b>Win condition: </b><span class="primary-game-info" id="wincondition"></span>
</div>
<div id="menu-viewer-info1">
	<p class="primary-game-info" id="menu-viewer-userplayer1">User1 (Player1)</p>
	<table align="center">
		<col width="140px" /><col width="140px" /><col width="140px" />
		<col width="140px" /><col width="140px" /><col width="140px" />
		<tr>
			<th><img class="viewer-small-img" src='resources/food.png'></th>
			<th><img class="viewer-small-img" id="viewer-queen1-img"></th>
			<th><img class="viewer-small-img" id="viewer-ant1-img"></th>
			<th><img class="viewer-small-img" id="viewer-beetle1-img"></th>
			<th><img class="viewer-small-img" id="viewer-spider1-img"></th>
			<th><img class="viewer-small-img" id="viewer-bee1-img"></th>
		</tr>
		<tr>
			<td align="center"><span class="secundary-game-info" id="info-resources1">0</span></td>
			<td align="center"><span class="secundary-game-info" id="info-queen1">0</span></td>
			<td align="center"><span class="secundary-game-info" id="info-ant1">0</span></td>
			<td align="center"><span class="secundary-game-info" id="info-beetle1">0</span></td>
			<td align="center"><span class="secundary-game-info" id="info-spider1">0</span></td>
			<td align="center"><span class="secundary-game-info" id="info-bee1">0</span></td>
		</tr>
	</table>
</div>
<div id="menu-viewer-info2">
	<p class="primary-game-info" id="menu-viewer-userplayer2">User2 (Player2)</p>
	<table>
		<col width="140px" /><col width="140px" /><col width="140px" />
		<col width="140px" /><col width="140px" /><col width="140px" />
		<tr>
			<th><img class="viewer-small-img" src='resources/food.png'></th>
			<th><img class="viewer-small-img" id="viewer-queen2-img"></th>
			<th><img class="viewer-small-img" id="viewer-ant2-img"></th>
			<th><img class="viewer-small-img" id="viewer-beetle2-img"></th>
			<th><img class="viewer-small-img" id="viewer-spider2-img"></th>
			<th><img class="viewer-small-img" id="viewer-bee2-img"></th>
		</tr>
		<tr>
			<td align="center"><span class="secundary-game-info" id="info-resources2">0</span></td>
			<td align="center"><span class="secundary-game-info" id="info-queen2">0</span></td>
			<td align="center"><span class="secundary-game-info" id="info-ant2">0</span></td>
			<td align="center"><span class="secundary-game-info" id="info-beetle2">0</span></td>
			<td align="center"><span class="secundary-game-info" id="info-spider2">0</span></td>
			<td align="center"><span class="secundary-game-info" id="info-bee2">0</span></td>
		</tr>
	</table>
</div>
<div id="menu-viewer-infoclicked">
	<div id="menu-viewer-infoclicked-content" style="display: none">
		<table style="width:100%">
			<tr>
				<td>
					<h4><span id="info-clicked-type"></span> - <span id="info-clicked-id"></span></h4>
				</td>
				<td align="right">
					<h4>
						<span id="info-clicked-cocoonbytecodes-lbl"></span>
						<span id="info-clicked-cocoonbytecodes"></span>
					</h4>
				</td>
			</tr>
		</table>
		<div style='float:left'>
			<img class="viewer-big-img" src="" id="info-clicked-image">
			<!--img class="viewer-big-img" src="resources/units/queen2.png" id="info-clicked-image"-->
		</div>
		<table id="info-clicked-table">
			<col width="140px" /><col width="280px" /><col width="140px" />
			<col width="280px" /><col width="140px" /><col width="280px" />
			<tr>
				<td><img src='resources/unit_info/health.png' align="left" class="viewer-small-img"></td>
				<td>
					<span align="right" id="info-clicked-curr_health">0</span>
					<span align="right">/</span>
					<span align="right" id="info-clicked-health">0</span>
				</td>
				<td><img src="resources/food.png" align="left" class="viewer-small-img"></td>
				<td><span align="right" id="info-clicked-cost">0</span></td>
				<td><img src="resources/unit_info/attack_range.png" align="left" class="viewer-small-img"></td>
				<td><span align="right" id="info-clicked-attack_range">0</span></td>
			</tr>
			<tr>
				<td><img src="resources/unit_info/movement_delay.png" align="left" class="viewer-small-img"></td>
				<td>
					<span align="right" class="" id="info-clicked-curr_movement_delay">0</span>
					<span align="right" class="">/</span>
					<span align="right" class="" id="info-clicked-movement_delay">0</span>
				</td>
				<td><img src="resources/unit_info/attack.png" align="left" class="viewer-small-img"></td>
				<td><span align="right" class="" id="info-clicked-attack">0</span></td>
				<td><img src="resources/unit_info/sight_range.png" align="left" class="viewer-small-img"></td>
				<td><span align="right" class="" id="info-clicked-sight_range">0</span></td>
			</tr>
			<tr>
				<td><img src="resources/unit_info/attack_delay.png" align="left" class="viewer-small-img"></td>
				<td>
					<span align="right" id="info-clicked-curr_attack_delay">0</span>
					<span align="right">/</span>
					<span align="right" id="info-clicked-attack_delay">0</span>
				</td>
				<td><img src="resources/unit_info/movement.png" align="left" class="viewer-small-img"></td>
				<td><span align="right" id="info-clicked-movement">0</span></td>
				<td><img src="resources/unit_info/mining_range.png" align="left" class="viewer-small-img"></td>
				<td><span align="right" id="info-clicked-mining_range">0</span></td>
			</tr>
		</table>
	</div>
	<div id='menu-viewer-infoclicked-log' style="display: none; width: 100%;">
		<textarea class="log" id="info-clicked-log" style="height: 100%; width: 100%;" disabled></textarea>
	</div>
</div>
